.user__options{
    margin-left: 2rem;
    margin-top: 1rem;
}
.option {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border:1px solid lightgray;
  margin-top: 0.3rem
}
.yellowColor {
  background-color: #ffb400;
}
.carrotColor {
  background-color: #fa595e;
}
.greenColor {
  background-color: #8ce071;
}
.tealColor {
  background-color: #00d1c1;
}
.blueColor {
  background-color: #007a87;
}
.violetColor {
  background-color: #7b0051;
}

.selected{
  border: 2px solid rgba(0, 0, 0, 0.603);
}